@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box; /*Alinhar borda a borda, tirando rolagem */
    -webkit-font-smoothing: antialiased; /*fonte com alinhamento fino*/
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden; /* esconde a rolagem horizontal */
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

header {
    height: 40px;
    width: 100%;
    font-size: larger;
}

nav {
    font-size: 14px;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    display: inline-block;
}

nav ul li:last-child {
    margin-left: auto;
}

nav a {
    color: white;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}

body {
    border: 2px solid red;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    flex: 1 1 auto;
    /*background-image: linear-gradient(to bottom, rgba(134, 134, 134, 0.856), rgba(255, 0, 0, 0.233)), url("../img/fundo.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;

}

.topo {
    width: 100%;
    height: 228px;
    display: flex;
    flex-direction: row;
    background-color: #00AAED;
    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    /*background-image: url(../img/fundoTopo.png);*/
    overflow: hidden;
    position: relative;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

.button {
    display: inline-block;
    margin: 25px 10px 20px 20px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    border-radius: 40px;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #0056b3;
    outline: none;
    color: white;
}

.button:active {
    background-color: #0056b3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25) inset;
    color: black;
}

.button:focus {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.social>a>#imgGitHub:hover {
    content: url("../img/icon_github2.png");
    cursor: pointer;
}

.social>a>#imgLinkedin:hover {
    content: url("../img/icon_linkedin2.png");
    cursor: pointer;
}

main {
    padding: 0px;
    margin: 0px;
}

body p {
    text-indent: 20px; /* recua a primeira linha em 20 pixels */
    text-align: justify;
    padding: 2px 50px 2px 10px;
}
header {
    padding: 0px;
    margin: 0px;
    border: solid 5px #00AAED;
}

header>nav>a {

    font-size: 25px;
    color: white;
}

.topoName {
    position: absolute;
    flex: 1;
    text-align: center;
    z-index: 500;
    margin: 40px 0px 0px 20px;

}

.topoPerfil {
    position: absolute;
    flex: 2;
    z-index: 500;
    margin: 0px 0px 0px 550px;
}

.social {
    position: absolute;
    top: 190px;
    flex: 3;
    z-index: 499;
    height: 40px;
    margin: 0px;
    padding: 0px 0px 0px 20px;
}

.social {
    width: 100%;
    background-color: #010000;
}

.social>ul>li {
    color: white;
}

.conhecimento {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    width: 100%;
    display: flex;
    margin: 4px;
}

.softwares {
    margin: 5px;
    border: #00AAED solid 1px;
    border-radius: 40px;
}

.softwares>h2 {
    text-align: center;
}

#software{
    display: flex;
    width: 100%;

}

.hardSkills {
    margin: 5px;
    display: flex;
    flex-direction: row;
}

#habilidade1, #habilidade2, #habilidade3, #habilidade4{
    display: flex;
    margin: 10px;
}

#quemSouEu {
    display: flex;
    padding: 50px 0px 0px 0px;
}

.quemSouEuEsquerda {
    width: 40%;
    margin: 0px 0px 0px 10px;
}

.quemSouEuEsquerda>h3 {

    margin: 0px 0px 20px 20px;
}
.quemSouEuEsquerda>h3,cite,.ocupacao>h3 {
    color: #c4343c;
    font-family: "Raleway", sans-serif;
    letter-spacing: 4px;
}

.ocupacao {
    margin: 50px;
}

.alinhamentoDireita {
    float: right;
}

.quemSouEuDireita {
    width: 40%;
}

.quemSouEuDireita>h1 {
    color: rgb(168, 44, 44);
    font-size: 56px;
    font-family: "Raleway", sans-serif;
}

.quemSouEuDireita>p {
    font-family: "Raleway", sans-serif;
}

#separador_1 {
    width: 100%;
    height: 1px;
    border:rgb(168, 44, 44) solid 5px;
    margin: 50px 0px 0px 0px;

}

#oQueFaco {
    background-color: black;
    width: 100%;
    height: 90px;
    color: white;
    padding: 10px 0px 0px 0px;
}

#oQueFaco>h1,#oQueFaco>h5 {
    color: rgb(168, 44, 44);
    font-family: "Raleway", sans-serif;
    letter-spacing: 4px;
    text-align: center;
}

.oQueFacoServicos {
    background: url(../img/fundo_oque_faco.png);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 660px;
    color: white;
}

.oQueFacoServicos_AnaliseDeDados {
    margin: 0px 0px 0px calc(50% - 150px);
    height: 200px;
    width: 300px;
    text-align: center;
}

.organizaAnaliseDeDados {
    text-align: center;
}

.oQueFacoServicos_DesenvolvimentoWeb {
    display: inline-block;
    margin: 0px 0px 0px calc(50% - 480px);
    height: 200px;
    width: 400px;
}

.organizaDesenvolvimentoWeb {
    text-align: center;
}

.oQueFacoServicos_Prototipacao {
    display: inline-block;
    margin: 0px 0px 0px 130px;
    height: 200px;
    width: 400px;
}

.organizaProrotipacao{
    text-align: center;
}

.oQueFacoServicos_Suporte_ao_Cliente {
    margin: 0px 0px 0px calc(50% - 250px);
    height: 220px;
    width: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.organizaSupCliente>h1,
.organizaSupCliente>h5,
.organizaSupCliente>p{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.separacaoRed {
    margin: 10px 0px;
    height: 52px;
    background-image: url(../img/separacao_red.png);
}


#portfolio {
    display: flex;
    flex-wrap: wrap;
}

.portfolioTexto {
    height: 400px;
    width: 300px;
    background-color: #F7414E;
    color: white;
    padding: 20px;
    text-align: center;
    letter-spacing: 4px;
}

.portfolioItens {
    position: relative;
}

.portfolioItens>img {
    max-width: 100%;
    height: auto;
}

.portfolioItens::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.452);
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s;
    pointer-events: none; /* Permite que os eventos passem através da pseudo-classe */
}

.portfolioItens:hover::before {
    opacity: 1;
}

.botao_Ver_Mais {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
    visibility: hidden; /* Botão invisível por padrão */
}
  
.portfolioItens:hover .botao_Ver_Mais {
    visibility: visible; /* Botão visível ao passar o mouse na div */
}

.botao_Ver_Mais:hover {
    background-color: #000;
    color: #fff;
}

#trabalhei {
    margin: 25px 0px;
    text-align: center;
    background: red;
}

#trabalhei>h2 {
    margin: 0px 0px 25px 0px;
}

.iconEmpresas {
    background: linear-gradient(to bottom, white 50%, black 50%);
}

.iconEmpresas>img {
    margin: 0px 25px;
}

#projetos {
    color: white;
    background-color: black;

}

footer {
    margin-top: auto;
    background-color: lightgray;
    width: 100%;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

footer>ul {
    list-style: none;
}

footer>ul>li>:nth-child(1) {
    color: brown;
    
}