@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    border: 2px solid red;
    margin: 2px;
    padding: 2px;
    height: 100vh;
    width: 100vw;
    flex: 1 1 auto;
}

header {
    border: 2px solid black;    
}

nav {
    text-decoration: none;
    
}

aside {
    border: 2px solid green;
}

div#container {
    border: 2px solid burlywood;
}

footer {
    border: 2px solid blue;
    background-color: lightgray
}