.botao2{
	width:211;
	height: 74;
	background: url(img/botao2MenuInicial.png) no-repeat;
	display: block;
	position: absolute;
	top: 260px;
	left: 292px;
}

.botao2:hover{
	background: url(img/botao2MenuInicial.png);
	background-position: 0px -74px;
	cursor:pointer;
}