.botao2{
	width:211;
	height: 74;
	background: url(img/botao2Entrar.png) no-repeat;
	display: block;
	position: absolute;
	top: 260px;
	left: 292px;

}

.botao2:hover{
	background: url(img/botao2Entrar.png);
	background-position: 0px -74px;
	cursor:pointer;
}

.botao1{
	width:211;
	height: 74;
	background: url(img/botao1Entrar.png) no-repeat;
	display: block;
	position: absolute;
	top: 260px;
	left: 0px;
}

.botao1:hover{
	background: url(img/botao1Entrar.png);
	background-position: 0px -74px;
	cursor:pointer;
}