*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #555;
}
.botao1{
	width:240;
	height: 50;
	background: url(../img/botao1EscolherJogos.png) no-repeat;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
}

.botao1:hover{
	background: url(../img/botao1EscolherJogos.png);
	background-position: 0px -50px;
	cursor:pointer;
}

.botao2{
	width:240;
	height: 50;
	background: url(../img/botao2ComoJogar.png) no-repeat;
	display: block;
	position: absolute;
	top: 0px;
	left: 280px;

}

.botao2:hover{
	background: url(../img/botao2ComoJogar.png);
	background-position: 0px -50px;
	cursor:pointer;
}


.botao3{
	width:240;
	height: 50;
	background: url(../img/botao3ReiniciarJogo.png) no-repeat;
	display: block;
	position: absolute;
	top: 0px;
	left: 560px;

}

.botao3:hover{
	background: url(../img/botao3ReiniciarJogo.png);
	background-position: 0px -50px;
	cursor:pointer;
}

#container{
	width: 800px;
	height: 600px;
	border: 1px solid #111;
	background-color: #563D00;
	position: relative;
	margin: 0px auto;
	border-radius: 10px;
	style ="border: 0px; margin:0px; padding: 0px;
}

.card{
	width: 127px;
	height: 191px;
	position: absolute;
	border-radius: 10px;
	perspective: 600px;
}

.face{
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 10px;
	transition: all 1s;
	backface-visibility: hidden;
}

.back{
	background: url('../img/verso.jpg');
}

.back.flipped{
	transform: rotateY(180deg);
}

.front{
	transform: rotateY(-180deg);
}

.front.flipped{
	transform: rotateY(0deg);
}

.card:hover{
	box-shadow: 0 0 10px #aaa;
}

.face.flipped.match{
	box-shadow: 0 0 10px #0f0;
}

/*Modal*/
#modalGameOver{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: -2; /*Controla o eixo Z(profundidade) */
}

#imgGameOver{
	margin-top: 100px;
}

#match{
	position: relative;
	margin: 0 auto;
	top: 250px;
	z-index: -1;
	opacity: 1;
	transition-property: top, opacity;
	transition-duration: 1.5s;
}

