.botoes{
	width:211;
	height: 74;
	background: url(img/botao2MenuInicial.png) no-repeat;
	display: block;
}

.botoes:hover{
	background: url(img/botao2MenuInicial.png);
	background-position: 0px -74px;
	cursor:pointer;
}